
  .box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 0.55rem;
    position: relative;
  }
  .boxContent {
    h2 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 13.56px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #1a0a3d;
    }
  }
  
  .description {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
  }
  .descriptionText {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .cornerText {
    color: #7a28ff;
    font-family: GT Walsheim Pro;
    font-size: 10px;
    font-weight: 700;
    line-height: 17.17px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    margin: 0px;
    align-items: flex-end;
  }
  